<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ theme_url }}/../shared/img/favicon.ico">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    {% if config.session.theme == "dark" %}
            <link rel="stylesheet" href="{{ theme_url }}/css/style-dark.min.css" type="text/css" />
    {% else %}
            <link rel="stylesheet" href="{{ theme_url }}/css/style.min.css" type="text/css" />
    {% endif %}

</head>
<!-- "Widescreen-mode" can be activated in portfolio/config/config.yml -->
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>
    <div class="header" role="banner">
        <div class="container">
            <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
                <span class="sr-only">Toggle Menu</span>
            </a>
            {% if pages["_meta"].meta.logo %}
                <div class="logo">
                    <a href="{{ "index"|link }}">
                        <img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}&w=150" alt="logo" />
                    </a>
                </div>
            {% endif %}
            <div class="title" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
                <a href="{{ "index"|link }}">
                    <h1>{{ site_title }}</h1>
                    {{ pages["_meta"].meta.tagline|markdown }}
                </a>
            </div>
            <div class="nav">
                <div id="nav" role="navigation" tabindex="-1">
                <div class="container top-bottom-borders-in">
                    <ul>
                        {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                            <li{% if page.id == current_page.id %} class="active"{% endif %}>
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main" role="main">
        <div class="highlights">
            {% if config.session.theme == "dark" %}
                <h1>Highlights</h1>
                <div class="project-article project">
                    <picture>
                            <source media="(min-width: 668px)" srcset="../projekt/image/projects/CMS.jpg&w=500" alt="CMS">
                            <source media="(min-width: 376px)" srcset="../projekt/image/projects/CMS.jpg&w=300" alt="CMS"> 
                            <img src="../projekt/image/projects/CMS.jpg&h=300" alt="CMS">
                        </picture>
                    <h2>CMS for news</h2>
                    <ul>
                        <li>A CMS I made with for a company to support their managing of news.</li>
                        <li>Built without any frameworks.</li>
                        <li>Built with PHP, MySql, HTML, CSS and JavaScript.</li>
                    </ul>
                </div>

                <div class="project-article-1 project">
                <picture>
                            <source media="(min-width: 668px)" srcset="../projekt/image/projects/wordpress_plugin.jpg&w=450" alt="wordpress plugin">
                            <source media="(min-width: 376px)" srcset="../projekt/image/projects/wordpress_plugin.jpg&w=300" alt="wordpress plugin"> 
                            <img src="../projekt/image/projects/wordpress_plugin.jpg&w=500" alt="wordpress plugin">
                    </picture>
                    <h2>Wordpress plugin - Bookly</h2>
                    <ul>
                        <li>Fully-customizable booking form that can be used on any device.</li>
                        <li>Filterable, sortable and searchable booking list that you can print or export to CSV.</li>
                        <li>Multi-language support – 12 languages included.</li>
                        <li>Various templates for customizable Email and SMS notifications</li>
                    </ul>
                </div>

                <div class="project-article-2 project">
                    <picture>
                            <source media="(min-width: 668px)" srcset="../projekt/image/projects/restaurant.jpg&w=350" alt="restaurant">
                            <source media="(min-width: 376px)" srcset="../projekt/image/projects/restaurant.jpg&w=300" alt="restaurant"> 
                            <img src="../projekt/image/projects/restaurant.jpg&w=300" alt="restaurant">
                        </picture>
                    <h2>Website for restaurant</h2>
                    <ul>
                        <li>Website for a restaurant in central Gothenburg.</li>
                        <li>Minimalistic and easy to use. </li>
                        <li>Quick load times.</li>
                        <li>Responsive and good accessibility.</li>
                        <li>Integrated with a booking API.</li>
                    </ul>
                </div>


                <div class="project-article-3 project">
                    <picture>
                            <source media="(min-width: 668px)" srcset="../projekt/image/projects/cryptocurrency.jpg&w=450" alt="cryptocurrency">
                            <source media="(min-width: 376px)" srcset="../projekt/image/projects/cryptocurrency.jpg&w=300" alt="cryptocurrency"> 
                            <img src="../projekt/image/projects/cryptocurrency.jpg&w=500" alt="cryptocurrency">
                    </picture>
                    <h2>Wordpress plugin - exchange</h2>
                    <ul>
                        <li>Customizable exchange pages.</li>
                        <li>Search and currency switcher.</li>
                        <li>Responsive design.</li>
                        <li>SEO Optimized.</li>
                        <li>Markets and pairs.</li>
                    </ul>
                </div>

                <div class="project-article-4 project">
                    <picture>
                            <source media="(min-width: 668px)" srcset="../projekt/image/projects/calculator.jpg&w=450" alt="calculator">
                            <source media="(min-width: 376px)" srcset="../projekt/image/projects/calculator.jpg&w=300" alt="calculator"> 
                            <img src="../projekt/image/projects/calculator.jpg&w=500" alt="Calculator">
                    </picture>
                    <h2>Advanced calculator</h2>
                    <ul>
                        <li>Not your ordinary calculator.</li>
                        <li>Advanced functionality</li>
                        <li>Reponsive design.</li>
                        <li>Animation and effects.</li>
                        <li>Remembers your history of calculations.</li>
                    </ul>
                </div>

                <div class="project-article-5 project">
                    <picture>
                            <source media="(min-width: 668px)" srcset="../projekt/image/projects/tournament.jpg&w=450" alt="tournament">
                            <source media="(min-width: 376px)" srcset="../projekt/image/projects/tournament.jpg&w=300" alt="tournament"> 
                            <img src="../projekt/image/projects/tournament.jpg&w=500" alt="tournament">
                    </picture>
                    <h2>Tournament tracker</h2>
                    <ul>
                        <li>Easy to use.</li>
                        <li>Customizable to your needs.</li>
                        <li>Reponsive design.</li>
                        <li>Walkthrough of all the functionality.</li>
                        <li>Able to export data to CSV- or JSON-format.</li>
                    </ul>
                </div>
            {% else %}
                {{ content }}
            {% endif %}
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="social">
                {% for social in pages["_meta"].meta.social %}
                    <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                        <i class="{{ social.icon }}" aria-hidden="true"></i>
                        <span class="sr-only">{{ social.title }}</span>
                    </a>
                {% endfor %}
            </div>
            <h2><span>Contact</span></h2>
            <address class="c-info-box">
                <h3 class="contact-medium">MAIL:</h3>
                <a href="mailto:>jerryswift@gmail.com"><span>Jerryswift@gmail.com</span></a>
                <h3 class="contact-medium">PHONE:</h3>
                <a href="tel:0706570198"><span>0706570198</span></a>
            </address>
        </div>
    </div>

    <script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
</body>
</html>
