<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ theme_url }}/../shared/img/favicon.ico">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}
    {% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    {% if config.session.theme == "dark" %}
            <link rel="stylesheet" href="{{ theme_url }}/css/style-dark.min.css" type="text/css" />
    {% else %}
            <link rel="stylesheet" href="{{ theme_url }}/css/style.min.css" type="text/css" />
    {% endif %}

</head>
<!-- "Widescreen-mode" can be activated in portfolio/config/config.yml -->
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>
    <div class="header" role="banner">
        <div class="container">
            <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
                <span class="sr-only">Toggle Menu</span>
            </a>
            {% if pages["_meta"].meta.logo %}
                <div class="logo">
                    <a href="{{ "index"|link }}">
                        <img src="{{ base_url }}/{{ pages["_meta"].meta.logo|url }}&w=150" alt="logo" />
                    </a>
                </div>
            {% endif %}
            <div class="title" {{ pages["_meta"].meta.tagline ? ' class="tagline"' }}>
                <a href="{{ "index"|link }}">
                    <h1>{{ site_title }}</h1>
                    {{ pages["_meta"].meta.tagline|markdown }}
                </a>
            </div>
            <div class="nav">
                <div id="nav" role="navigation" tabindex="-1">
                <div class="container topBotomBordersIn">
                    <ul>
                        {% for page in pages(depthOffset=-1) if page.title and not page.hidden %}
                            <li{% if page.id == current_page.id %} class="active"{% endif %}>
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main" role="main">
        <div class="index-container">
            {% if config.session.theme == "dark" %}
                <h1>Home</h1>

                    <div class="projects-wrapper">
                        <h1>Some of my projects</h1>

                        <div class="projects">
                            <div class="project-about">
                                <picture>
                                    <source media="(min-width: 668px)" srcset="../projekt/image/projects/CMS.jpg&w=350" alt="Me">
                                    <source media="(min-width: 376px)" srcset="../projekt/image/projects/CMS.jpg&w=300" alt="Me"> 
                                    <img src="../projekt/image/projects/CMS.jpg&w=300" alt="Me">
                                </picture>
                                <h2>CMS </h2>
                                <a href="./highlights" alt="about-page">Check out</a>
                            </div>
                            <div class="project-about">
                                <picture>
                                    <source media="(min-width: 668px)" srcset="../projekt/image/projects/wordpress_plugin.jpg&w=350" alt="Me">
                                    <source media="(min-width: 376px)" srcset="../projekt/image/projects/wordpress_plugin.jpg&w=300" alt="Me"> 
                                    <img src="../projekt/image/projects/wordpress_plugin.jpg&w=300" alt="Me">
                                </picture>
                                <h2>Wordpress plugin</h2>
                                <a href="./highlights" alt="about-page">Check out</a>
                            </div>
                            <div class="project-about">
                                <picture>
                                    <source media="(min-width: 668px)" srcset="../projekt/image/projects/restaurant.jpg&w=350" alt="Me">
                                    <source media="(min-width: 376px)" srcset="../projekt/image/projects/restaurant.jpg&w=300" alt="Me"> 
                                    <img src="../projekt/image/projects/restaurant.jpg&w=300" alt="Me">
                                </picture>
                                <h2>Website for restaurant</h2>
                                <a href="./highlights" alt="about-page">Check out</a>
                            </div>
                        </div>
                    </div>
                    <section class="ss-style-doublediagonal-index"></section>

                    <div class="index-intro">
                        <h1>Introduction</h1>
                        <p>My name is Jerry Swift and i'm a freelancing web developer. I have worked with big companies in sweden such as Spotify, IKEA, Cygni and HiQ and my expertise lies in making stylish website with advanced HTML/CSS and Javascript with help of several framesworks - e.g React and Vue. 
                        <a href="./about" alt="about-page">Read more about me </a>
                        </p>
                    </div>
                    <section class="ss-style-doublediagonal-index"></section>

                    <div class="contract-contact">
                        <div class="contract-info">
                            <h2>Mutual process</h2>
                            <p>
                                Before I take on a job it is very important to me that the job is tailored to <i>your</i> needs. Together we make sure we have proposal that suits your needs.
                            </p>
                            <p>Contact me and tell me about your needs and I will produce a sketch that we can discuss together and develop.</p>

                            <a href="mailto:jerryswift@gmail.com">Contact me by mail</a>
                        </div>

                    <picture>
                        <source media="(min-width: 668px)" srcset="../projekt/image/contract.jpg&w=350" alt="Me">
                        <source media="(min-width: 376px)" srcset="../projekt/image/contract.jpg&w=300" alt="Me"> 
                        <img src="../projekt/image/contract.jpg&w=300" alt="Me">
                    </picture>

                    </div>

                </div>




            {% else %}
                {{ content }}
            {% endif %}
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="social">
                {% for social in pages["_meta"].meta.social %}
                    <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                        <i class="{{ social.icon }}" aria-hidden="true"></i>
                        <span class="sr-only">{{ social.title }}</span>
                    </a>
                {% endfor %}
            </div>
            <h2><span>Contact</span></h2>
            <address class="c-info-box">
                <h3 class="contact-medium">MAIL:</h3>
                <a href="mailto:>jerryswift@gmail.com"><span>Jerryswift@gmail.com</span></a>
                <h3 class="contact-medium">PHONE:</h3>
                <a href="tel:0706570198"><span>0706570198</span></a>
            </address>
        </div>
    </div>

    <script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
</body>
</html>
